@charset "UTF-8";
/* CSS Document */

/*--assignment 3 create your own adventure--*/

/*--font-family: 'Open Sans', sans-serif;--*/

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-string: border-box;
	-o-box-string: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;	
}

/*------------------------------------------------------------
3.0 - GENERIC
-------------------------------------------------------------*/
.wrapper {
	width: 1170px;
	margin:0 auto;	
}

.row {
	overflow: auto;	
}

/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */

/* -- FORMS -- */ 

fieldset {
	border: none;
	padding: 0;
	
}

label {
	display: block;
	
}

/* -- LISTS -- */ 

/* -- MEDIA -- */ 

#bg-hero {
	background-image: url("../img/hero.jpg");
	height: 500px;
}

#bg-consulting {
	background-image: url("../img/consulting.jpg");
	height: 900px;
}

#vid-key-frame {
	background-image: url("../img/video-key-frame.jpg");
	width: 500px;
	height: 400px;
}

#vid-key-frame{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

#bg-call-back {
	background-image: url("../img/call-back.jpg");
	height: 2000px;
}

/* -- TABLES -- */ 

/* -- TYPOGRAPHY: Headings, Pragraphs, Blockquotes, Anchors-- */ 

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: #000; 
	text-decoration: none;
}

h2 {
	font-size: 30px;
	font-weight:800;
}

/*--------------------------------------------------------------
5.0 - Objects
-------------------------------------------------------------- */

/* -- FRAMEWORK -- */ 


/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */

/* -- HEADER -- */


#envelope-icon {
	float: left;
}


.envelope-icon .phone-icon {
	color: #FFD742;

}

.yellow-button {
	background-color: #FFD742;
	color: #000;
	text-align: center;
	padding: 0px 20px;
	
}

/*--NAVIGATION--*/

ul {
	float: right;
	display: inline-block;
	color: #FFD742;
	text-decoration: none;
	list-style-type: none;
}

li {
 	display: inline;
}

a {
	text-decoration: none;
}

/* unvisited link */
a:link {
  color: #000;
}

/* visited link */
a:visited {
  color: #1D3A82;
}

/* mouse over link */
a:hover {
  color: #4248FF;
}

/* selected link */
a:active {
  color: #FFD742;
}

#nav2 {
	float: right;
	margin-bottom: 30px;
}

/*--------------------------------------------------------------
7.0 -UTILITIES
-------------------------------------------------------------- */

/* -- ALIGNMENT -- */ 
.col-1-2 {
	width: 585px;
	margin: 0 10px;
	float: left;
	margin-bottom: 30px;
}

.col-2-3 {
	width: 195px;
	float: left;
}

.col-1-3 {
	width: 390px;
	padding: 0 10px;
	margin-bottom: 30px;
}

#cube-icon {
	float: left;
	margin-bottom: 30px;
}

#social-icons {
	float: right;
}
/* -- COLOR -- */ 

.ylw-bkg {
	background-color: #FFD742;
}

.bg-blue {
	background-color: #1D3A82;
}

/*--Dark Blue #1D3A82--*/

/*--Yellow #FFD742--*/

/*--Overlay Blue #4248FF--*/

/*--EXAMPLE CODE FOR FONT AWESOME--
<i class="fas fa-camera"></i> <!-- this icon's 1) style prefix == fas and 2) icon name == camera -->
<i class="fas fa-camera"></i> <!-- using an <i> element to reference the icon -->
<span class="fas fa-camera"></span> <!-- using a <span> element to reference the icon -->--*/

/* -- SIZE -- */ 