@charset "UTF-8";
/* CSS Document */

/*--assignment 3 create your own adventure--*/

/*--font-family: 'Open Sans', sans-serif;--*/

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-string: border-box;
	-o-box-string: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;	
}

/*------------------------------------------------------------
3.0 - GENERIC
-------------------------------------------------------------*/
.wrapper {
	width: 1170px;
	margin:0 auto;	
}

.row {
	overflow: auto;	
}

/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */

/* -- FORMS -- */ 

/* -- LISTS -- */ 

/* -- MEDIA -- */ 

/* -- TABLES -- */ 

/* -- TYPOGRAPHY: Headings, Pragraphs, Blockquotes, Anchors-- */ 

/*--------------------------------------------------------------
5.0 - Objects
-------------------------------------------------------------- */

/* -- FRAMEWORK -- */ 


/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */

/* -- HEADER -- */

header section {
	background-color: #1D3A82;
	
}

/*--------------------------------------------------------------
7.0 -UTILITIES
-------------------------------------------------------------- */

/* -- ALIGNMENT -- */ 

/* -- COLOR -- */ 

/*--Dark Blue #1D3A82--*/

/*--Yellow #EFDB49--*/

/* -- SIZE -- */ 